@import 'includes/brand.less';
@import 'includes/typography.less';
@import 'includes/mixins.less';

* {
  .box-sizing;
}

/******GLOBAL STYLES*******/

body {
  background-color: @bggreen;
}

#containMain {
	background-image: url('../images/backgrounds/background1.jpg');
	background-size: cover;
	background-position: center;
	height: 650px;
}

nav#mainNav {
    display: inline-block;
    position: fixed;
	ul li {
	    display: inline;
	    font-size: 25px;
	    font-family: 'Young', Helvetica, sans-serif;
	    margin: 20px 0 0 50px;
	    padding-left: 10px;
	    a {
	        color: @lightgreen; 
	    }
	}
}

nav#mainNav a:hover {
	color: @red;
}

#paypalBtn {
	margin: 15px 0 20px 950px;
	height: 20px;
}

header#mainHeader {
	width: 100%;
    background-color: @bggrey;
    position: fixed;
    img {
    	margin-left: 20px;
    	margin-top: 5px;
    }
}
/***********************************************************/
/*********************Home Page****************************/
section#left {
	.widthfloat(30%);
	float: left;
	margin-top: 430px;
	color: white;
	text-align: center;
	.topBtn {
		margin-top: -15px
	}
	h1 {
		text-align: center;
	}
}

section#treeDonate img {
	.widthfloat(-60%);
	 height: 500px;
	 width: 469px;
	 margin-top: 100px;
}

section#treeDonate img:hover {
	opacity: 0.4;
}

section#right {
	.widthfloat(30%);
	float: right;
	margin-top: 420px;
	color: white;
	#totalPicked {
		text-align: center;
	}
	h1 {
		text-align: center;
	}
}

.topBtn {
	display: block;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px auto;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

.topBtn:hover {
	background: @bggrey;
	color: @lightgreen;
	cursor: pointer;
}


.emphasis {
	color: @lightgreen;
	font-family: 'Champagne & Limousines', sans-serif;
	font-size: 40px;
}
/*********************About Page***************************/

#aboutUsWrap {
	background-image: url('../images/backgrounds/background4.jpg');
	background-size: cover;
	background-position: center;
	height: 700px;
}

section#aboutUs {
	padding-top: 90px;
	font-size: 1.125em;
	.widthfloat(50%);
	color: white;
/*	margin-top: 40px;*/
	clear: both;
	font-family: 'Young', Helvetica, sans-serif;
	font-size: 1.063em;
	padding-bottom: 20px;
	p {
	line-height: 27px;	
	}
}

aside#donors {
	.widthfloat(40%);
	margin-top: 20px;
	padding-top: 70px;
	ul li {
		display: inline;
		width: 200px;
		padding: 20px;
		line-height: 35px;
	}
	ul li a:hover {
		opacity: 0.5;
	}
	ul li a {
		margin-top: 10px;
	}
	h1 {
		text-align: center;
		color: white;
	}
}

#ourJobWrap {
	background-image: url('../images/backgrounds/background3.jpg');
	background-size: cover;
	background-position: center;
	height: 700px;
}

section#whatWeDo {
	font-size: 20px;
	padding-top: 90px;
	color: white;
	font-family: 'Young', Helvetica, sans-serif;
	.widthfloat(60%);
	float: left;
	margin-top: 30px;
	p {
		line-height: 45px;
	}
}

#wardImg img {
	margin: 140px 0 0 100px;
	padding-bottom: 50px;

}
/*********************************************************/
/*********************Team Page****************************/

#ourTeamWrap {
	background-image: url('../images/backgrounds/background7.jpg');
	background-size: cover;
	background-position: center;
	height: 700px;
}

section#ourTeam {
	.widthfloat(50%);
	padding-top: 90px;
	ul li {
		line-height: 35px;
	}
	h1 {
	color: @white;
	}
}

span.position {
	font-size: 20px;
	color: @gold;
	font-size: 1.250em;
	font-family: Helvetica;
}

span.name {
	font-size: 1.125em;
	font-family: Helvetica;
	color: white;
}

.steerCom {
	margin-left: 180px;

}

section#history {
	.widthfloat(40%);
	margin-top: 90px;
	font-family: 'Young', Helvetica, sans-serif;
	font-size: 0.938em;
	p {
		line-height: 30px;
		color: white;
	}
	h1 {
	color: @white;
	}
}

/***********************Gallery****************************/
section#gallery {
	padding-bottom: 50px;
	padding-top: 100px;
	ul li {
		display: inline-block;
		width: 250px;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	h1 {
		text-align: center;
		margin-top: 10px;
		color: white;
	}
	ul li a:hover {
		opacity: 0.5;
	}
	img {
		border: 4px solid white;
	}
	input {
		margin-left: 563px;
	}
}

/**********************************************************/
/********************Get Involved Page*********************/

#getInvolvedWrap {
	background-image: url('../images/backgrounds/background5.jpg');
	background-size: cover;
	background-position: center;
	height: 680px;
}

section#getInvolved {
	padding-top: 80px;
	font-family: 'Young', Helvetica, sans-serif;
	color: #fff;
	font-size: 0.938em;
	.widthfloat(40%);
	.info {
		text-align: center;
		font-size: 1.250em;
	}
	h1 {
		text-align: center;
		padding-bottom: 5px;
	}
	#emailUs {
		text-align: center;
		font-size: 1.125em;
	}
	#callUs {
		text-align: center;
		font-size: 1.125em;
	}
}

.underline {
	text-decoration: underline;
	cursor: pointer;
}

#mailing {
	margin-top: 30px;
}

section.formgroup {
	padding-top: 90px;
	float: left;
	font-size: 1.125em;
	.widthfloat(50%);
	display: inline-block;
	color: #000;
	line-height: 37px;
	margin-top: 10px;
	padding-left: 260px;
	width: 550px;
	h1 {
		color: white;
	}
	label {
		color: white;
		font-family: 'Young', Helvetica, sans-serif;
	}
}

input {
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn {
	display: block;
    font-size: 1.1em;
    font-weight: bold;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

.btn:hover {
	background: @bggrey;
	color: @lightgreen;
	cursor: pointer;
}

span.radioColor {
	color: white;
	font-family: 'Young', Helvetica, sans-serif;
}

/**********************************************************/
/*********************Blog Page****************************/
section#blog {
	padding-top: 80px;
	padding-bottom: 50px;
	.widthfloat(80%);
	font-family: 'Young', Helvetica, sans-serif;
	clear: both;
	margin-left: 240px;
	color: @white;
	img {
		float: left;
	}
	#post1 {
		width: 80%;
		img{
			padding-right: 20px;
		}
		.post {
			margin-top: -15px;
			a {
/*				color: @bggrey;*/
				text-decoration: underline;
			}
		}
	}
	#post2 {
		width: 80%;
		img {
			padding-right: 20px;
		}
		.post {
			margin-top: -15px;
			a {
				/*color: @bggrey;*/
				text-decoration: underline;
			}
		}
	}
	#post3 {
		width: 80%;
		img {
			padding-right: 20px;
		}
		.post {
			margin-top: -15px;
			a {
				/*color: @bggrey;*/
				text-decoration: underline;
			}
		}

}
}

/*section#blog a {
	color: @bggrey;
	text-decoration: underline;
	color: @white;
}*/

.author {
	color: @bggrey;
}

section#blog a:hover {
	color: @red;
	-o-transition:color .5s ease-out;
  	-ms-transition:color .5s ease-out;
  	-moz-transition:color .5s ease-out;
  	-webkit-transition:color .5s ease-out;
  	transition:color .5s ease-out;
	}

/*****************************************************/


/************************Footer****************************/

footer.bottomFooter {
	background-color: @bggrey;
	clear: both;
	color: @lightgreen;
	text-align: center;
	padding: 10px 0 10px 0;
	ul li {
	display: inline;
	padding: 0 2px 0 2px;
	}
	ul li a:hover {
	opacity: 0.4;
	}
	h2 {
	font-family: 'Young', Helvetica, sans-serif;
	font-size: 0.875em;
	}
}


/*********MEDIA QUERIES*********/
/**********TABLET**************/

@media screen and (max-width: 768px) {

body {
	width: 768px;
}

nav#mainNav {
    display: inline-block;
    position: fixed;
    background-color: @bggrey;
	ul li {
	    display: inline;
	    font-size: 12px;
	    margin: 20px 0 0 50px;
	    padding-left: 10px;
	    a {
	        color: @lightgreen; 
	    }
	}
}

header#mainHeader {
	width: 50%;
    background-color: @bggrey;
    position: fixed;
    img {
    	margin-left: 20px;
    	margin-top: 5px;
    }
}


/********HOME PAGE********/

/*********************/
/********MENU*********/



/***********************/


/*********BLOG POST********/

/*********BLOG POST********/


/*********BLOG PAGE********/
#containerBlogpage {
	padding-top: 100px;
	color: @white;
}

section#blogpost {
	p {
	font-family: 'Young', Helvetica, sans-serif;
	}
	width: 50%;
	margin-left: 320px;
}

}/***end tablet media queries**/

@media screen and (max-width: 480px) {



}/**end phone media queries**/

