@import 'includes/brand.less';
@import 'includes/typography.less';
@import 'includes/mixins.less';

* {
  .box-sizing;
}

/******GLOBAL STYLES*******/

body {
  background-color: @red;
}

header#mainHeader {
	background-color: @bggreen;
	img {
		margin-left: 20px;
		margin-top: 5px;
	}
}

nav#mainNav {
	display: inline-block;
	ul li {
		display: inline;
		font-size: 30px;
		margin-left: 100px;
		font-family: Young, sans-serif;
		a {
			color: @grassgreen;
			
		}
	}
}


/*************CONTACT*************/


/**************/

/*********MEDIA QUERIES*********/


/********HOME PAGE********/

/*********************/
/********MENU*********/



/***********************/
/*********CONTACT********/


/************************/