@import 'includes/brand.less';
@import 'includes/typography.less';
@import 'includes/mixins.less';

* {
  .box-sizing;
}

/******GLOBAL STYLES*******/

body {
  background-color: @bgteal;
}

#contain {
	background-image: url('../images/backgrounds/background1.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	height: 580px;
}

nav#mainNav {
    display: inline-block;
	ul li {
	    display: inline;
	    font-size: 30px;
	    margin-left: 100px;
	    font-family: Young, sans-serif;
	    a {
	        color: @grassgreen;
	            
	    }
	}
}

header#mainHeader {
    background-color: @bggreen;
    img {
            margin-left: 20px;
            margin-top: 5px;
    }
}



/******DO NOT DELETE USE CODE FOR PICTURE BACKGROUND WORK IN PROGRESS*****/

/*nav#mainNav {*/
	/*display: inline-block;*/
	/*@navbg: lighten(@grassgreen, 10%);*/
	  /*background: fadeout(@navbg, 10%);*/
	  /*position: fixed;*/
	  /*text-align: center;*/
	  /*letter-spacing: 0.2em;*/
	  /*font-family: @headingsfont;*/
	  /*z-index: 9999;*/
/*	  background-color: @bggreen;
	ul li {
		display: inline;
		font-size: 30px;
		margin-left: 100px;
		font-family: Young, sans-serif;
		a {
			color: @bggreen;
		
		}
	}
}*/

/*header#mainHeader {
	background-color: @bggreen;
}*/

/*nav#mainNav .logo {
			height: 50px;
			width: 50px;
			background-image: url('../images/logos/logo.png');
			z-index: 9999;
}*/

/*header#mainHeader {
	background-image: url('../images/backgrounds/jarBg.jpg');
  	background-size: cover;
  	background-position: center;
  	opacity: 0.9;*/
/*	img {
		margin-left: 20px;
		margin-top: 5px;
	}*/
/*}*/



/*header#mainHeader{
  background-image: url('../images/backgrounds/jarBg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}*/

/***********************************************************/



section#left {
	.widthfloat(40%);
	float: left;
	margin-top: 300px;
	color: white;
	#mission {
		
	}
}

section#treeDonate img {
	.widthfloat(-60%);
	 height: 200px;
	 width: 200px;
	 margin-top: 300px;
}

section#right {
	.widthfloat(40%);
	float: right;
	margin-top: 300px;
	color: white;
	#totalPicked {
	}
}

.red {
	color: @fontred;
	font-family: 'Champagne & Limousines', sans-serif;
	text-align: center;
}




/*************CONTACT*************/


/**************/

/*********MEDIA QUERIES*********/


/********HOME PAGE********/

/*********************/
/********MENU*********/



/***********************/
/*********CONTACT********/


/************************/