a:link {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: Ariel;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
