a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: Ariel;
  line-height: 1em;
}
h1 {
  font-size: 2.3em;
  font-family: 'Amplify Personal Use Only', sans-serif;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/******GLOBAL STYLES*******/
body {
  background-color: #5aa89b;
}
#containMain {
  background-image: url('../images/backgrounds/background1.jpg');
  background-size: cover;
  background-position: center;
  height: 650px;
}
nav#mainNav {
  display: inline-block;
  position: fixed;
}
nav#mainNav ul li {
  display: inline;
  font-size: 25px;
  font-family: Young, sans-serif;
  margin: 20px 0 0 50px;
  padding-left: 10px;
}
nav#mainNav ul li a {
  color: #00a652;
}
#paypalBtn {
  margin: 15px 0 20px 950px;
  height: 20px;
}
header#mainHeader {
  width: 100%;
  background-color: #3d3d3d;
  position: fixed;
}
header#mainHeader img {
  margin-left: 20px;
  margin-top: 5px;
}
/***********************************************************/
/*********************Home Page****************************/
section#left {
  display: inline-block;
  width: 30%;
  margin: 0 1.65%;
  float: left;
  margin-top: 430px;
  color: white;
  text-align: center;
}
section#left .topBtn {
  margin-top: -15px;
}
section#left h1 {
  text-align: center;
}
section#treeDonate img {
  float: left;
  display: inline-block;
  width: -60%;
  margin: 0 -3.3%;
  height: 500px;
  width: 469px;
  margin-top: 100px;
}
section#right {
  float: left;
  display: inline-block;
  width: 30%;
  margin: 0 1.65%;
  float: right;
  margin-top: 420px;
  color: white;
}
section#right #totalPicked {
  text-align: center;
}
section#right h1 {
  text-align: center;
}
.topBtn {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px auto;
  color: #ccc;
  background-color: #555;
  background: -webkit-linear-gradient(#888888, #555555);
  background: linear-gradient(#888888, #555555);
  border: 0 none;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #000000;
  box-shadow: 0 1px 0 #666666, 0 5px 0 #444444, 0 6px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.topBtn:hover {
  background: #3d3d3d;
  color: #00a652;
  cursor: pointer;
}
.emphasis {
  color: #00a652;
  font-family: 'Champagne & Limousines', sans-serif;
  font-size: 40px;
}
/*********************About Page***************************/
#aboutUsWrap {
  background-image: url('../images/backgrounds/background6.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
}
section#aboutUs {
  padding-top: 90px;
  font-size: 18px;
  float: left;
  display: inline-block;
  width: 50%;
  margin: 0 2.75%;
  color: white;
  /*	margin-top: 40px;*/

  clear: both;
  font-family: 'Young', Helvetica, sans-serif;
  font-size: 17px;
  padding-bottom: 20px;
}
section#aboutUs p {
  line-height: 27px;
}
aside#donors {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
  margin-top: 20px;
  padding-top: 70px;
}
aside#donors ul li {
  display: inline;
  width: 200px;
  padding: 20px;
  line-height: 35px;
}
aside#donors ul li a:hover {
  opacity: 0.5;
}
aside#donors ul li a {
  margin-top: 10px;
}
aside#donors h1 {
  text-align: center;
  color: white;
}
#ourJobWrap {
  background-image: url('../images/backgrounds/background3.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
}
section#whatWeDo {
  font-size: 20px;
  padding-top: 90px;
  color: white;
  font-family: 'Young', Helvetica, sans-serif;
  display: inline-block;
  width: 60%;
  margin: 0 3.3%;
  float: left;
  margin-top: 30px;
}
section#whatWeDo p {
  line-height: 45px;
}
#wardImg img {
  margin: 140px 0 0 100px;
  padding-bottom: 50px;
}
/*********************************************************/
/*********************Team Page****************************/
#ourTeamWrap {
  background-image: url('../images/backgrounds/background7.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
}
section#ourTeam {
  float: left;
  display: inline-block;
  width: 50%;
  margin: 0 2.75%;
  padding-top: 90px;
}
section#ourTeam ul li {
  line-height: 35px;
}
span.position {
  font-size: 20px;
  color: #a6822d;
  font-family: Helvetica;
}
span.name {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}
.steerCom {
  margin-left: 180px;
}
section#history {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
  margin-top: 90px;
  font-family: 'Tekton Pro', Helvetica, sans-serif;
  font-size: 18px;
  font-family: 'Young', Helvetica, sans-serif;
  font-size: 15px;
}
section#history p {
  line-height: 30px;
  color: white;
}
/***********************Gallery****************************/
section#gallery {
  padding-bottom: 50px;
  padding-top: 100px;
}
section#gallery ul li {
  display: inline-block;
  width: 250px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
section#gallery h1 {
  text-align: center;
  margin-top: 10px;
  color: white;
}
section#gallery ul li a:hover {
  opacity: 0.5;
}
section#gallery img {
  border: 4px solid white;
}
/**********************************************************/
/********************Get Involved Page*********************/
#getInvolvedWrap {
  background-image: url('../images/backgrounds/background5.jpg');
  background-size: cover;
  background-position: center;
  height: 680px;
}
section#getInvolved {
  padding-top: 90px;
  font-size: 24px;
  font-family: 'Young', sans-serif;
  color: #fff;
  font-size: 15px;
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
}
section#getInvolved .info {
  text-align: center;
  font-size: 20px;
}
section#getInvolved h1 {
  text-align: center;
  padding-bottom: 5px;
}
section#getInvolved #emailUs {
  text-align: center;
  font-size: 18px;
}
section#getInvolved #callUs {
  text-align: center;
  font-size: 18px;
}
.underline {
  text-decoration: underline;
  cursor: pointer;
}
#mailing {
  margin-top: 30px;
}
section.formgroup {
  padding-top: 90px;
  font-size: 18px;
  float: left;
  width: 50%;
  margin: 0 2.75%;
  display: inline-block;
  color: #000;
  line-height: 37px;
  margin-top: 10px;
  padding-left: 260px;
}
section.formgroup h1 {
  color: white;
}
section.formgroup label {
  color: white;
}
span.radioColor {
  color: white;
}
/**********************************************************/
/*********************Blog Page****************************/
section#blog {
  float: left;
  display: inline-block;
  width: 80%;
  margin: 0 4.4%;
  font-family: 'Young', Helvetica, sans-serif;
  clear: both;
  margin-right: 50px;
}
section#blog a {
  color: #53a08e;
}
section#blog img {
  float: left;
}
#post1 {
  width: 80%;
}
p#post {
  margin-top: -10px;
}
#post2 {
  width: 80%;
}
#post3 {
  width: 80%;
}
/*****************************************************/
/************************Footer****************************/
footer.bottomFooter {
  background-color: #3d3d3d;
  clear: both;
  color: #00a652;
  text-align: center;
  padding: 10px 0 10px 0;
}
/*********MEDIA QUERIES*********/
/********HOME PAGE********/
/*********************/
/********MENU*********/
/***********************/
/*********BLOG POST********/
/*********BLOG POST********/
/*********BLOG POST********/
