a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: Ariel;
  line-height: 1em;
}
h1 {
  font-size: 2.3em;
  font-family: 'Amplify Personal Use Only', sans-serif;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/******GLOBAL STYLES*******/
body {
  background-color: #5aa89b;
}
#contain {
  background-image: url('../images/backgrounds/background1.jpg');
  background-size: cover;
  background-position: center;
  height: 580px;
}
nav#mainNav {
  display: inline-block;
  position: fixed;
  background: #3d3d3d;
}
nav#mainNav ul li {
  display: inline;
  font-size: 30px;
  margin-left: 100px;
  font-family: Young, sans-serif;
}
nav#mainNav ul li a {
  color: #53a08e;
}
#paypalBtn {
  margin: 0 0 20px 970px;
  height: 20px;
}
header#mainHeader {
  background-color: #3d3d3d;
  width: 100%;
  position: fixed;
}
header#mainHeader img {
  margin-left: 20px;
  margin-top: 5px;
}
/******DO NOT DELETE USE CODE FOR PICTURE BACKGROUND WORK IN PROGRESS*****/
/*nav#mainNav {*/
/*display: inline-block;*/
/*@navbg: lighten(@grassgreen, 10%);*/
/*background: fadeout(@navbg, 10%);*/
/*position: fixed;*/
/*text-align: center;*/
/*letter-spacing: 0.2em;*/
/*font-family: @headingsfont;*/
/*z-index: 9999;*/
/*	  background-color: @bggreen;
	ul li {
		display: inline;
		font-size: 30px;
		margin-left: 100px;
		font-family: Young, sans-serif;
		a {
			color: @bggreen;
		
		}
	}
}*/
/*header#mainHeader {
	background-color: @bggreen;
}*/
/*nav#mainNav .logo {
			height: 50px;
			width: 50px;
			background-image: url('../images/logos/logo.png');
			z-index: 9999;
}*/
/*header#mainHeader {
	background-image: url('../images/backgrounds/jarBg.jpg');
  	background-size: cover;
  	background-position: center;
  	opacity: 0.9;*/
/*	img {
		margin-left: 20px;
		margin-top: 5px;
	}*/
/*}*/
/*header#mainHeader{
  background-image: url('../images/backgrounds/jarBg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}*/
/***********************************************************/
section#left {
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
  float: left;
  margin-top: 380px;
  color: white;
}
section#treeDonate img {
  float: left;
  display: inline-block;
  width: -60%;
  margin: 0 -3.3%;
  height: 200px;
  width: 200px;
  margin-top: 360px;
}
section#right {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
  float: right;
  margin-top: 380px;
  color: white;
}
.topBtn {
  background: #3d3d3d;
  color: #828282;
  border: 2px solid #eee;
  height: 28px;
  width: 100px;
  margin: -30px 0 0 150px;
  overflow: hidden;
  display: block;
  font-family: Helvetica;
  font-size: 16px;
}
.topBtn:hover {
  background: #a6822d;
  color: white;
  cursor: pointer;
}
.red {
  color: #6d0202;
  font-family: 'Champagne & Limousines', sans-serif;
  font-size: 40px;
  margin-left: 130px;
}
#wrapper1 {
  background-image: url('../images/backgrounds/background6.jpg');
  background-size: cover;
  background-position: center;
  height: 580px;
}
#wrapper2 {
  background-image: url('../images/backgrounds/background3.jpg');
  background-size: cover;
  background-position: center;
  height: 580px;
}
#wrapper3 {
  background-image: url('../images/backgrounds/background7.jpg');
  background-size: cover;
  background-position: center;
  height: 560px;
}
#wrapper4 {
  background-image: url('../images/backgrounds/background5.jpg');
  background-size: cover;
  background-position: center;
  height: 560px;
}
section#aboutUs {
  font-size: 18px;
  float: left;
  display: inline-block;
  width: 50%;
  margin: 0 2.75%;
  color: white;
  margin-top: 20px;
  clear: both;
  font-family: 'Young', Helvetica, sans-serif;
  font-size: 17px;
}
aside#donors {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
  margin-top: 20px;
}
aside#donors ul li {
  display: inline;
  width: 200px;
  padding: 5px;
}
section#whatWeDo {
  font-size: 24px;
  color: white;
  font-family: 'Young', Helvetica, sans-serif;
  font-size: 20px;
  display: inline-block;
  width: 60%;
  margin: 0 3.3%;
  float: left;
  margin-top: 30px;
}
#wardImg img {
  margin: 60px 0 0 100px;
  padding-bottom: 50px;
}
section#ourTeam {
  float: left;
  display: inline-block;
  width: 50%;
  margin: 0 2.75%;
}
section#ourTeam ul li {
  line-height: 40px;
}
span#position {
  font-size: 22px;
  color: #a6822d;
}
span#name {
  font-size: 18px;
}
section#history {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
  font-family: 'Young', Helvetica, sans-serif;
  font-size: 15px;
}
section#getInvolved {
  width: 40%;
  margin: 0 2.2%;
  font-size: 22px;
  font-family: 'Young', sans-serif;
  color: #fff;
  font-size: 15px;
  float: left;
  display: inline-block;
  width: 50%;
  margin: 0 2.75%;
}
section#getInvolved .info {
  text-align: center;
  padding-bottom: 30px;
}
#mailing {
  margin-top: 30px;
}
section.formgroup {
  font-size: 20px;
  float: left;
  width: 40%;
  margin: 0 2.2%;
  display: inline-block;
  color: #000;
  line-height: 50px;
}
section#blog {
  float: left;
  display: inline-block;
  width: 80%;
  margin: 0 4.4%;
  font-family: 'Tekton Pro', Helvetica, sans-serif;
  clear: both;
  margin-right: 50px;
}
section#blog img {
  float: left;
}
#post1 {
  width: 80%;
}
p#post {
  margin-top: -10px;
}
#post2 {
  width: 80%;
}
footer.bottomFooter {
  background-color: #3d3d3d;
  clear: both;
  text-align: center;
}
/*************CONTACT*************/
/**************/
/*********MEDIA QUERIES*********/
/********HOME PAGE********/
/*********************/
/********MENU*********/
/***********************/
/*********CONTACT********/
