a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-family: Ariel;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 2.3em;
  font-family: 'Amplify Personal Use Only', sans-serif;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/******GLOBAL STYLES*******/
body {
  background-color: #5aa89b;
}
#contain {
  background-image: url('../images/backgrounds/background1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  height: 580px;
}
nav#mainNav {
  display: inline-block;
}
nav#mainNav ul li {
  display: inline;
  font-size: 30px;
  margin-left: 100px;
  font-family: Young, sans-serif;
}
nav#mainNav ul li a {
  color: #0e8b3d;
}
header#mainHeader {
  background-color: #b5e3af;
}
header#mainHeader img {
  margin-left: 20px;
  margin-top: 5px;
}
/******DO NOT DELETE USE CODE FOR PICTURE BACKGROUND WORK IN PROGRESS*****/
/*nav#mainNav {*/
/*display: inline-block;*/
/*@navbg: lighten(@grassgreen, 10%);*/
/*background: fadeout(@navbg, 10%);*/
/*position: fixed;*/
/*text-align: center;*/
/*letter-spacing: 0.2em;*/
/*font-family: @headingsfont;*/
/*z-index: 9999;*/
/*	  background-color: @bggreen;
	ul li {
		display: inline;
		font-size: 30px;
		margin-left: 100px;
		font-family: Young, sans-serif;
		a {
			color: @bggreen;
		
		}
	}
}*/
/*header#mainHeader {
	background-color: @bggreen;
}*/
/*nav#mainNav .logo {
			height: 50px;
			width: 50px;
			background-image: url('../images/logos/logo.png');
			z-index: 9999;
}*/
/*header#mainHeader {
	background-image: url('../images/backgrounds/jarBg.jpg');
  	background-size: cover;
  	background-position: center;
  	opacity: 0.9;*/
/*	img {
		margin-left: 20px;
		margin-top: 5px;
	}*/
/*}*/
/*header#mainHeader{
  background-image: url('../images/backgrounds/jarBg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}*/
/***********************************************************/
section#left {
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
  float: left;
  margin-top: 380px;
  color: white;
}
section#treeDonate img {
  float: left;
  display: inline-block;
  width: -60%;
  margin: 0 -3.3%;
  height: 200px;
  width: 200px;
  margin-top: 360px;
}
section#right {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
  float: right;
  margin-top: 380px;
  color: white;
}
.red {
  color: #6d0202;
  font-family: 'Champagne & Limousines', sans-serif;
  font-size: 40px;
  margin-left: 130px;
}
section#aboutUs {
  font-size: 18px;
  float: left;
  display: inline-block;
  width: 50%;
  margin: 0 2.75%;
  color: white;
}
aside#donors {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
}
aside#donors ul li {
  display: inline;
  width: 200px;
  padding: 5px;
}
section#whatWeDo {
  font-size: 18px;
  /*background-color: blue;*/

  /*width: 70%;*/

  display: inline-block;
  width: 50%;
  margin: 0 2.75%;
  float: left;
}
section#ourTeam {
  float: left;
  display: inline-block;
  width: 50%;
  margin: 0 2.75%;
}
section#ourTeam ul li {
  line-height: 40px;
}
span#position {
  font-size: 20px;
}
span#name {
  font-size: 16px;
}
section#history {
  float: left;
  display: inline-block;
  width: 40%;
  margin: 0 2.2%;
}
section#getInvolved {
  float: left;
  /*.widthfloat(40%);*/

}
/*************CONTACT*************/
/**************/
/*********MEDIA QUERIES*********/
/********HOME PAGE********/
/*********************/
/********MENU*********/
/***********************/
/*********CONTACT********/
/************************/