// Typography

@headingsfont: Ariel;
@bodyfont: Helvetica;

@headingsfontsize: 1.875em;

// Colours

@lightgrey: #727171;
@red: #330303;
@dark: #000;
@grey: #828282;
@white: #fff;
@bggreen: #485050;
@grassgreen: #53a08e;
@fontred: #6d0202;
@bgteal: #5aa89b;
@brown: #a6822d;