// Typography

@headingsfont: Ariel;
@bodyfont: Helvetica;

@headingsfontsize: 1.875em;

// Colours

@lightgrey: #727171;
@red: #447f75;
@dark: #000;
@grey: #828282;
@white: #fff;
@bggreen: #3D3D3D;
@grassgreen: #53a08e;
@green: #00a652;
@fontred: #447f75;
@bgteal: #5aa89b;
@brown: #a6822d;